<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <!--  link rel="stylesheet" href="./mercari.css"/>-->
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Rakus Items</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- <script th:src="@{/js/Category.js}"></script> -->

<script type="text/javascript">
function aaaa(){
	console.log("ffff");
	$('#chuCategory').val("");
   	$('#syoCategory').val("");
	form1.submit();
}



function submit() {
	//const chyCategory=document.form1.parent
	// window.location.href = selected.value;
	//const id = chuCategory.selected.value;
	//var id=document.getElementById("id").value;
	//var id=value;
	//var selectedValue = $("#parent").val();
	//	form1.submit();
}
function submit2(value) {
	//const chyCategory=document.form1.parent
	// window.location.href = selected.value;
	//const id = chuCategory.selected.value;
	//var id=document.getElementById("id").value;
	//var id=value;
		form1.submit();
}
function submit3(value) {
	
		form1.submit();
}


 
 </script>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  href="./list.html">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
         
         <li><a id="logout"  sec:authorize="hasRole('ROLE_USER')" href="/logout">Logout&nbsp;<i class="fa fa-power-off"></i></a></li>
          
        </ul>
        <p class="navbar-text navbar-right">
          <span id="loginName"  th:text="${email}">user: userName</span>
        </p>
      </div>
    </div>
  </nav>

  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" href="./add.html" th:href="@{/addItem/showAddItem}"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form name="form1" action="" class="form-inline" role="form" th:action="@{/}" th:object="${searchForm}">
       
        <div class="form-group">
          <input type="input" class="form-control" id="name" placeholder="item name"/>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <select class="form-control" id="parent" name="parent" onchange="aaaa()">
            <option value="">- parentCategory -</option>
            <option th:each="parentCategory : ${parentCategoryList}" th:value="${parentCategory.id}" th:text="${parentCategory.name}" th:id="${parentCategory.id}" th:name="${parentCategory.id}" th:field="*{parent}">
             	<input tepe="hidden" th:name="${parentCategory.id}" th:value="${parentCategory.id}">
             </option>
           
          </select>
         <!-- <form th:action="@{/searchCategory}" method="post"-->
         
            <select class="form-control" id="chuCategory" name="chuCategory" onchange="submit2(this.value)">
            <option value="">- childCategory -</option>
            <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" th:field="*{chuCategory}" >- childCategory -</option>
       
          </select>
          <!--/form-->
          <select class="form-control" id="syoCategory" name="syoCategory" onchange="submit3(this.value)"> 
            <option value="">- grandChild -</option>
            <option th:each="childCategory : ${childCategoryList}" th:value="${childCategory.id}" th:text="${childCategory.name}" th:field="*{syoCategory}">grandChild1</option>
            
          </select>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="brand"/>
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
        <div align="right">
     <input name="page" type="text" align="right" th:field="*{page}">
		 <button type="submit" align="right">Go to page</button>
      </form>
    </div>


    <!-- pagination 
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous"><a href="#">&larr; prev</a></li>
          <li class="next"><a href="#">next &rarr;</a></li>
        </ul>
      </nav>
    </div>-->
    
	</div>
    <!-- table -->
 <!--   <form name="form1" action="" class="form-inline" role="form" th:action="@{/}" > -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
         <thead>
          </tr>
        	<th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          <tr th:each="item : ${itemList}">
            <td ><a th:text="${item.name}" th:href="@{'/showItemDetail?id='+${item.id}}" >name</a></th>
            <td th:text="${item.price}">price</td>
            <td>
                <a th:href="@{'/?parent='+${item.daiCategoryId}}" th:text="${item.daiName}"></a> /
                <a th:href="@{'?parent='+${item.daiCategoryId}+'&chuCategory='+${item.chuCategoryId}}" th:text="${item.chuName}"></a>/
                <!-- th:href="@{'/?chucategory='+${item.chuCategoryId}}"-->
                <a th:href="@{'?parent='+${item.daiCategoryId}+'&chuCategory='+${item.chuCategoryId}+'&syoCategory='+${item.Category}}" th:text="${item.syoName}"></a>
               <!--   th:href="@{'/?category='+${item.Category}}"-->
            </td>
            <td th:text="${item.brand}">brand</td>
            <td th:text="${item.condition}">cond</td>
            
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>  
<!--   </form> --> 
    
     <!--  script type="text/javascript">
　 				<$(function() {
　 				    $("#parentCategory").on("change", function(){
　 				    	var id=$("#id").val();
　 				    	
　 				    });
　 				    	location.href()="/?id"+id;
　 				    }
			</script-->

   <!-- <a pagination ></a>
     <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous"><a href="#">&larr; prev</a></li>
          <li class="next"><a href="#">next &rarr;</a></li>
        </ul>
      </nav>
     
      <div id="select-page">
       <!--    <form class="form-inline">
          <div class="form-group">
            <div class="input-group col-xs-6">
              <label></label>
              <input type="text" class="form-control"/>
             
              <div class="input-group-addon">/ 20</div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->
</body>
</html>